/* Settings
======================================================= */

* {
	margin: 0;
}

html {
	font-size: 10px;
}

body {
	color: var(--dark-grey);
	font-size: var(--font-medium);
	font-family: var(--font-main);
	font-weight: 400;
}

a {
	text-decoration: none;
	transition: color 0.3s;
}

/* icons svg element */
.i svg {
	filter: var(--filter-shadow);
	/* set size to their containers */
	height: inherit;
	width: inherit;
}

.i a {
	height: inherit;
	width: inherit;
}

/* 1 column layout */
.col-1 {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
}


/* Main heading
======================================================= */

.h1 {
	text-align: center;
	border-radius: 30px 30px 0 0;
	box-shadow: var(--box-shadow);

	width: 40%;
	margin-top: 4%;
	padding: 1.5rem 0;
}

h1 {
	font-weight: var(--font-bold);
	text-transform: uppercase;
	text-shadow: var(--text-shadow);
}


/* Letter board
======================================================= */

.letter-board {
	font-family: var(--font-letter-sign);
	font-size: var(--font-small);
	text-transform: uppercase;
	letter-spacing: 0.5rem;
	word-spacing: 0.5rem;

	background: var(--light-beige);
	border: var(--dark-grey) solid 10px;
	box-shadow: var(--box-shadow);
	border-radius: 5px;

	display: flex;
	flex-direction: row;
	width: 80vw;
}

.letter-board-half-1 {
	flex-grow: 2;
}

.letter-board-half-2 {
	flex-grow: 3;
}

.letter-board-block {
	border-bottom: var(--dark-grey) solid 2px;
	width: inherit;
	padding: 0.5rem 2rem;
}

.letter-board-title {
	color: var(--popcorn-red);
}


/* Youtube player
======================================================= */

.player {
	box-shadow: var(--box-shadow);
	height: calc(70vw * 0.5625);
	width: 70vw;
	margin-top: 6rem;
	margin-bottom: 2rem;
}


/* Snacks icons
======================================================= */

.snacks {
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	width: inherit;

	position: relative;
	top: 4rem;
	margin-top: -3rem;
}

.i-popcorn,
.i-burger {
	margin: 0 3%;
	filter: drop-shadow(rgba(0, 0, 0, 0.4) -2px -2px 4px);
}

.i-popcorn {
	height: 9rem;
}

.i-burger {
	height: 10rem;
}


/* Footer
======================================================= */

footer {
	color: var(--light-grey);
	text-align: center;
	padding: 3rem 0;
}

.footer-i {
	height: 3rem;
	vertical-align: middle;
	margin-right: 0.5rem;
	margin-left: 0.5rem;
}

.tagline {
	margin-bottom: 1rem;
}

.i-heart svg {
	margin-top: 3px;
}

.i-aws {
	height: 3.6rem;
}


/* Randomized styles
======================================================= */

main {
	background: var(--main);
}

footer {
	background: var(--footer);
}

.h1 {
	background: var(--h1);
}

footer a {
	color: var(--link);
}